:root {
  --logo-height: 6em;
  --logo-padding: 1.5em;
  --logo-hover-shadow: 0 0 2em #646cffaa;
  --logo-react-hover-shadow: 0 0 2em #61dafbaa;
  --card-padding: 2em;
  --read-the-docs-color: #888;

  --app-bg-light: #fff;
  --app-color-light: #222;
  --card-bg-light: #f8f8fa;
  --read-the-docs-color-light: #888;

  --app-bg-dark: #23232c;
  --app-color-dark: #fafafa;
  --card-bg-dark: #2d2d40;
  --read-the-docs-color-dark: #aaa;

  --main-grid-header-size: 64px;
}

.logo {
  height: var(--logo-height);
  padding: var(--logo-padding);
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(var(--logo-hover-shadow));
}
.logo.react:hover {
  filter: drop-shadow(var(--logo-react-hover-shadow));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: var(--card-padding);
}

.read-the-docs {
  color: var(--read-the-docs-color);
}

@media (prefers-color-scheme: light) {
  .app-root-grid {
    background: var(--app-bg-light);
    color: var(--app-color-light);
  }
  .card {
    background: var(--card-bg-light);
    color: var(--app-color-light);
  }
  .read-the-docs {
    color: var(--read-the-docs-color-light);
  }
}

@media (prefers-color-scheme: dark) {
  .app-root-grid {
    background: var(--app-bg-dark);
    color: var(--app-color-dark);
  }
  .card {
    background: var(--card-bg-dark);
    color: var(--app-color-dark);
  }
  .read-the-docs {
    color: var(--read-the-docs-color-dark);
  }
}

.app-root-grid {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: var(--main-grid-header-size) 1fr;
  min-height: 100vh;
}

.document-header {
  grid-area: header;
}

.main-content {
  grid-area: main;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
